html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}
body {
  margin: 80px 0;
}
.container {
  width: 500px;
  margin: 0 auto;
}
a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.heading:after {
  content: "";
  display: block;
  clear: both;
}
h1.title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}
.math-base {
  font-size: 18px;
}
.tile-inner {
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 40px;
}
@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
.scores-container {
  float: right;
  text-align: right;
}
.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}
.score-container:after, .best-container:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}
.score-container .score-addition, .best-container .score-addition {
  position: absolute;
  right: 30px;
  color: red;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  color: rgba(119, 110, 101, 0.9);
  z-index: 100;
  -webkit-animation: move-up 600ms ease-in;
  -moz-animation: move-up 600ms ease-in;
  animation: move-up 600ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.score-container:after {
  content: "Score";
}
.best-container:after {
  content: "Best";
}

.game-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.73);
  z-index: 100;
  padding-top: 40px;
  text-align: center;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.game-menu.show-popup {
  display: block;
}

.game-message {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.73);
  z-index: 100;
  padding-top: 40px;
  text-align: center;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.game-message p {
  font-size: 60px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin-top: 222px;
}

.game-message .game-over-score {
  font-size: 60px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
}

.game-message .lower {
  display: block;
  margin-top: 29px;
}
.game-message .mailing-list {
  margin-top: 52px;
}
.game-message .mailing-list strong {
  display: block;
  margin-bottom: 10px;
}
.game-message .mailing-list .mailing-list-email-field {
  width: 230px;
  margin-right: 5px;
}
.game-message a {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  margin-left: 9px;
}
.game-message a.keep-playing-button {
  display: none;
}
.game-message .score-sharing {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.game-message.game-won {
  background: rgba(237, 194, 46, 0.5);
  color: #f9f6f2;
}
.game-message.game-won a.keep-playing-button {
  display: inline-block;
}
.game-message.game-won, .game-message.show-popup {
  display: block;
}
.game-message.game-won p, .game-message.show-popup p {
  -webkit-animation: slide-up 1.5s ease-in-out 2500ms;
  -moz-animation: slide-up 1.5s ease-in-out 2500ms;
  animation: slide-up 1.5s ease-in-out 2500ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.game-message.game-won .mailing-list, .game-message.show-popup .mailing-list {
  -webkit-animation: fade-in 1.5s ease-in-out 2500ms;
  -moz-animation: fade-in 1.5s ease-in-out 2500ms;
  animation: fade-in 1.5s ease-in-out 2500ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.progress-bar {
  width: 100%;
}

.progress-container {
  margin: 20px 0;
}

.button-container {
  text-align: center;
}

.btn-answer {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    margin: 0 9px;
  }
